# Human Development Index

In [19]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import regex as re
import matplotlib.pyplot as plt
from urllib.request import urlopen
import pycountry

In [20]:
url = 'https://en.m.wikipedia.org/wiki/List_of_countries_by_Human_Development_Index'
html = urlopen(url) 
soup = BeautifulSoup(html, 'html.parser')

In [21]:
tables = soup.find_all('body')

In [22]:
# On site there are 2 tables with the class "wikitable"
# The following line will generate a list of HTML content for each table
tabl = soup.find_all("table", attrs={"class": "wikitable"})
print("Number of tables on site: ",len(tabl))

Number of tables on site:  2

In [23]:
table1 = tabl[0]

body = table1.find_all("tr")
head = body[0]
body_rows = body[1:]

headings = []

for item in head.find_all("th"):
    item = (item.text).rstrip("\n")
    headings.append(item)
print(headings)

['Rank', 'Nation', 'HDI']

In [24]:
#print(body_rows[0])
all_rows = [] # will be a list for list for all rows
for row_num in range(len(body_rows)): # A row at a time
    row = [] # this will old entries for one row
    for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
        # row_item.text removes the tags from the entries
        # the following regex is to remove \xa0 and \n and comma from row_item.text
        # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
        #append aa to row - note one row entry is being appended
        row.append(aa)
    # append one row to all_rows
    all_rows.append(row)

In [25]:
count = 0
for i in all_rows:
    if len(i) >1:
        count+=1
print(count)

189

In [26]:
country_data = []
for i in all_rows:
    if len(i) > 1:
        country_data.append(i)

In [27]:
country_data[0:6]

[['1', '', '0.957', ' 0.20%'],
 ['2', ' (7)', '0.955', ' 0.65%'],
 ['2', '', '0.955', ' 0.16%'],
 ['4', ' (7)', '0.949', ' 0.54%'],
 ['4', ' (4)', '0.949', ' 0.62%'],
 ['6', ' (3)', '0.947', ' 0.24%']]

In [28]:
df = pd.DataFrame(country_data)

In [118]:
df.head()

   0     1      2       3
0  1        0.957   0.20%
1  2   (7)  0.955   0.65%
2  2        0.955   0.16%
3  4   (7)  0.949   0.54%
4  4   (4)  0.949   0.62%

In [119]:
data_frame = pd.merge(country,df,left_index = True, right_index = True)

In [120]:
data_frame.head(3)

                   0_x 0_y     1      2       3
0               Norway   1        0.957   0.20%
1  Republic of Ireland   2   (7)  0.955   0.65%
2          Switzerland   2        0.955   0.16%

In [121]:
del data_frame['0_y']

In [122]:
data_frame.columns = ['Country', 'HDI Change (5 yrs)', 'HDI (2020 Report)', 'Avg. annual growth (%)']

In [123]:
data_frame

,Country,HDI Change (5 yrs),HDI (2020 Report),Avg. annual growth (%)
0,Norway,,0.957,0.20%
1,Republic of Ireland,(7),0.955,0.65%
2,Switzerland,,0.955,0.16%
3,Hong Kong,(7),0.949,0.54%
4,Iceland,(4),0.949,0.62%
...,...,...,...,...
182,Sierra Leone,(2),0.452,1.40%
183,Mali,,0.434,0.69%
184,Burundi,(5),0.433,0.58%
185,South Sudan,(3),0.433,0.61%
186,Chad,(1),0.398,0.84%

In [124]:
data_frame.isnull().sum()

Country                   0
HDI Change (5 yrs)        0
HDI (2020 Report)         0
Avg. annual growth (%)    0
dtype: int64

In [125]:
project_href = [i['href'] for i in soup.find_all('a', href=True) if i['href'] != "#"]

nations = []
for i in project_href[85:276]:
    for j in i.split('/')[-1:]:
        nations.append(j)
print(nations)

['#cite_note-2020_components-2', '#cite_note-2020_trends-18', 'Norway', 'Republic_of_Ireland', 'Switzerland', 'Hong_Kong', 'Iceland', 'Germany', 'Sweden', 'Australia', 'Netherlands', 'Denmark', 'Finland', 'Singapore', 'United_Kingdom', 'Belgium', 'New_Zealand', 'Canada', 'United_States', 'Austria', 'Israel', 'Japan', 'Liechtenstein', 'Slovenia', 'Luxembourg', 'South_Korea', 'Spain', 'France', 'Czech_Republic', 'Malta', 'Estonia', 'Italy', 'United_Arab_Emirates', 'Greece', 'Cyprus', 'Lithuania', 'Poland', 'Andorra', 'Latvia', 'Portugal', 'Slovakia', 'Hungary', 'Saudi_Arabia', 'Bahrain', 'Chile', 'Croatia', 'Qatar', 'Argentina', 'Brunei', 'Montenegro', 'Romania', 'Palau', 'Kazakhstan', 'Russia', 'Belarus', 'Turkey', 'Uruguay', 'Bulgaria', 'Panama', 'The_Bahamas', 'Barbados', 'Oman', 'Georgia_(country)', 'Costa_Rica', 'Malaysia', 'Kuwait', 'Serbia', 'Mauritius', 'Seychelles', 'Trinidad_and_Tobago', 'Albania', 'Cuba', 'Iran', 'Sri_Lanka', 'Bosnia_and_Herzegovina', 'Grenada', 'Mexico', 'Saint_Kitts_and_Nevis', 'Ukraine', 'Antigua_and_Barbuda', 'Peru', 'Thailand', 'Armenia', 'North_Macedonia', 'Colombia', 'Brazil', 'China', 'Ecuador', 'Saint_Lucia', 'Azerbaijan', 'Dominican_Republic', 'Moldova', 'Algeria', 'Lebanon', 'Fiji', 'Dominica', 'Maldives', 'Tunisia', 'Saint_Vincent_and_the_Grenadines', 'Suriname', 'Mongolia', 'Botswana', 'Jamaica', 'Jordan', 'Paraguay', 'Tonga', 'Libya', 'Uzbekistan', 'Bolivia', 'Indonesia', 'Philippines', 'Belize', 'Samoa', 'Turkmenistan', 'Venezuela', 'South_Africa', 'State_of_Palestine', 'Egypt', '#cite_note-marshall-19', 'Marshall_Islands', '#cite_note-marshall-19', 'Vietnam', 'Gabon', 'Kyrgyzstan', 'Morocco', 'Guyana', 'Iraq', 'El_Salvador', 'Tajikistan', 'Cape_Verde', 'Guatemala', 'Nicaragua', 'Bhutan', 'Namibia', 'India', 'Honduras', 'Bangladesh', 'Kiribati', 'S%C3%A3o_Tom%C3%A9_and_Pr%C3%ADncipe', 'Federated_States_of_Micronesia', 'Laos', 'Eswatini', 'Ghana', 'Vanuatu', 'East_Timor', 'Nepal', 'Kenya', 'Cambodia', 'Equatorial_Guinea', 'Zambia', 'Myanmar', 'Angola', 'Republic_of_the_Congo', 'Zimbabwe', 'Solomon_Islands', 'Syria', 'Cameroon', 'Pakistan', 'Papua_New_Guinea', 'Comoros', 'Mauritania', 'Benin', 'Uganda', 'Rwanda', 'Nigeria', 'Ivory_Coast', 'Tanzania', 'Madagascar', 'Lesotho', 'Djibouti', 'Togo', 'Senegal', 'Afghanistan', 'Haiti', 'Sudan', 'The_Gambia', 'Ethiopia', 'Malawi', 'Democratic_Republic_of_the_Congo', 'Guinea-Bissau', 'Liberia', 'Guinea', 'Yemen', 'Eritrea', 'Mozambique', 'Burkina_Faso', 'Sierra_Leone', 'Mali', 'Burundi', 'South_Sudan', 'Chad']

In [126]:
stp = [i for i,j in enumerate(nations) if j == "S%C3%A3o_Tom%C3%A9_and_Pr%C3%ADncipe"]

In [127]:
stp

[138]

In [128]:
def text_cleaner(x):
    n = []
    for i in x:
        if '#' in i:
            pass
        else:
            n.append(i.replace('_', ' '))
    return n

In [129]:
nation = text_cleaner(nations)

In [130]:
#verify all data from column nation had been collected
len(nation)

187

In [131]:
country = pd.DataFrame(nation)

In [132]:
country.head(2)

                     0
0               Norway
1  Republic of Ireland

In [133]:
country.rename(columns = {0:"Country"})

                 Country
0                 Norway
1    Republic of Ireland
2            Switzerland
3              Hong Kong
4                Iceland
..                   ...
182         Sierra Leone
183                 Mali
184              Burundi
185          South Sudan
186                 Chad

[187 rows x 1 columns]

In [134]:
data_frame['Country'][134] = "Sao Tome and Principe"

In [135]:
data_frame['Country'][134]

'Sao Tome and Principe'

In [136]:
countries_negative_hdi_growth = ['Lebanon', 'Jordan', 'Libya', 'Venezuela', 'East Timor', 'Syria', 'Yemen']

In [137]:
data_frame.head()

,Country,HDI Change (5 yrs),HDI (2020 Report),Avg. annual growth (%)
0,Norway,,0.957,0.20%
1,Republic of Ireland,(7),0.955,0.65%
2,Switzerland,,0.955,0.16%
3,Hong Kong,(7),0.949,0.54%
4,Iceland,(4),0.949,0.62%

In [138]:
data_frame.isnull().sum()

Country                   0
HDI Change (5 yrs)        0
HDI (2020 Report)         0
Avg. annual growth (%)    0
dtype: int64

In [139]:
data_frame.dtypes

Country                   object
HDI Change (5 yrs)        object
HDI (2020 Report)         object
Avg. annual growth (%)    object
dtype: object

In [140]:
data_frame['Avg. annual growth (%)'] = data_frame['Avg. annual growth (%)'].apply(lambda x: x[:-1])

In [141]:
data_frame['HDI Change (5 yrs)'] = data_frame['HDI Change (5 yrs)'].apply(lambda x: x[2] if len(x) > 0 else x)

In [142]:
n = []
for i in data_frame['Avg. annual growth (%)']:
    if i == 'NA[a':
        n.append(0)
    else:
        n.append(i)
print(pd.Series(n))

0       0.20
1       0.65
2       0.16
3       0.54
4       0.62
       ...
182     1.40
183     0.69
184     0.58
185     0.61
186     0.84
Length: 187, dtype: object

In [143]:
data_frame['Avg. annual growth (%)'] = n

In [144]:
data_frame['HDI (2020 Report)'] = data_frame['HDI (2020 Report)'].str.strip().astype(float)

In [145]:
data_frame['Avg. annual growth (%)'] = data_frame['Avg. annual growth (%)'].str.strip().astype(float)

In [146]:
data_frame.dtypes

Country                    object
HDI Change (5 yrs)         object
HDI (2020 Report)         float64
Avg. annual growth (%)    float64
dtype: object

In [147]:
data_frame.head()

,Country,HDI Change (5 yrs),HDI (2020 Report),Avg. annual growth (%)
0,Norway,,0.957,0.20
1,Republic of Ireland,7,0.955,0.65
2,Switzerland,,0.955,0.16
3,Hong Kong,7,0.949,0.54
4,Iceland,4,0.949,0.62

In [148]:
#def annual_growth(x,y):
x = []
neg_growth_countries = ['Lebanon', 'Jordan', 'Libya', 'Venezuela', 'East Timor', 'Syria', 'Yemen']
for i in range(len(data_frame['Avg. annual growth (%)'])):
    if data_frame.iloc[i,0] in neg_growth_countries:
        x.append(-1 * data_frame.iloc[i,3])
    else:
        x.append(data_frame.iloc[i,3])
    
    

print(len(x))

187

In [149]:
data_frame['Avg. annual growth (%)'] = x

In [150]:
data_frame.columns

Index(['Country', 'HDI Change (5 yrs)', 'HDI (2020 Report)',
       'Avg. annual growth (%)'],
      dtype='object')

In [151]:
annual_growth(data_frame['Country'],data_frame)

NameError: name 'annual_growth' is not defined

In [152]:
data_frame

,Country,HDI Change (5 yrs),HDI (2020 Report),Avg. annual growth (%)
0,Norway,,0.957,0.20
1,Republic of Ireland,7,0.955,0.65
2,Switzerland,,0.955,0.16
3,Hong Kong,7,0.949,0.54
4,Iceland,4,0.949,0.62
...,...,...,...,...
182,Sierra Leone,2,0.452,1.40
183,Mali,,0.434,0.69
184,Burundi,5,0.433,0.58
185,South Sudan,3,0.433,0.61
186,Chad,1,0.398,0.84

In [88]:
#Need GeoSchemes, scrape this
url_ungs = "https://en.wikipedia.org/wiki/List_of_countries_by_United_Nations_geoscheme"
html1 = urlopen(url_ungs) 
soup1 = BeautifulSoup(html1, 'html.parser')

In [89]:
geoschemes = soup1.find_all('body')

In [90]:
tables1 = soup1.find_all("table", attrs={"class": "wikitable"})
print("Number of tables on site: ",len(tabl))

Number of tables on site:  2

In [91]:
table_ungs = tables1[0]

body = table_ungs.find_all("tr")
head = body[0]
body_rows = body[1:]

headings = []

for item in head.find_all("th"):
    item = (item.text).rstrip("\n")
    headings.append(item)
print(headings)

['Country or Area', 'Sub-Subregion', 'Subregion', 'Region', 'UNSD M49 Codes']

In [92]:
all_rows = [] # will be a list for list for all rows
for row_num in range(len(body_rows)): # A row at a time
    row = [] # this will old entries for one row
    for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
        # row_item.text removes the tags from the entries
        # the following regex is to remove \xa0 and \n and comma from row_item.text
        # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
        #append aa to row - note one row entry is being appended
        row.append(aa)
    # append one row to all_rows
    all_rows.append(row)

In [94]:
type(all_rows)

list

In [95]:
for i in all_rows:
    print(i)

[' Algeria', '', 'Northern Africa', 'Africa', '012 < 015 < 002 < 001']
[' Egypt', '', 'Northern Africa', 'Africa', '818 < 015 < 002 < 001']
[' Libya', '', 'Northern Africa', 'Africa', '434 < 015 < 002 < 001']
[' Morocco', '', 'Northern Africa', 'Africa', '504 < 015 < 002 < 001']
[' Sudan', '', 'Northern Africa', 'Africa', '729 < 015 < 002 < 001']
[' Tunisia', '', 'Northern Africa', 'Africa', '788 < 015 < 002 < 001']
[' Western Sahara', '', 'Northern Africa', 'Africa', '732 < 015 < 002 < 001']
[' British Indian Ocean Territory', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '086 < 014 < 202 < 002 < 001']
[' Burundi', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '108 < 014 < 202 < 002 < 001']
[' Comoros', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '174 < 014 < 202 < 002 < 001']
[' Djibouti', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '262 < 014 < 202 < 002 < 001']
[' Eritrea', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '232 < 014 < 202 < 002 < 001']
[' Ethiopia', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '231 < 014 < 202 < 002 < 001']
[' French Southern and Antarctic Lands', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '260 < 014 < 202 < 002 < 001']
[' Kenya', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '404 < 014 < 202 < 002 < 001']
[' Madagascar', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '450 < 014 < 202 < 002 < 001']
[' Malawi', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '454 < 014 < 202 < 002 < 001']
[' Mauritius', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '480 < 014 < 202 < 002 < 001']
[' Mayotte', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '175 < 014 < 202 < 002 < 001']
[' Mozambique', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '508 < 014 < 202 < 002 < 001']
[' Réunion', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '638 < 014 < 202 < 002 < 001']
[' Rwanda', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '646 < 014 < 202 < 002 < 001']
[' Seychelles', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '690 < 014 < 202 < 002 < 001']
[' Somalia', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '706 < 014 < 202 < 002 < 001']
[' South Sudan', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '728 < 014 < 202 < 002 < 001']
[' Uganda', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '800 < 014 < 202 < 002 < 001']
[' Tanzania', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '834 < 014 < 202 < 002 < 001']
[' Zambia', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '894 < 014 < 202 < 002 < 001']
[' Zimbabwe', 'Eastern Africa', 'Sub-Saharan Africa', 'Africa', '716 < 014 < 202 < 002 < 001']
[' Angola', 'Middle Africa', 'Sub-Saharan Africa', 'Africa', '024 < 017 < 202 < 002 < 001']
[' Cameroon', 'Middle Africa', 'Sub-Saharan Africa', 'Africa', '120 < 017 < 202 < 002 < 001']
[' Central African Republic', 'Middle Africa', 'Sub-Saharan Africa', 'Africa', '140 < 017 < 202 < 002 < 001']
[' Chad', 'Middle Africa', 'Sub-Saharan Africa', 'Africa', '148 < 017 < 202 < 002 < 001']
[' Congo [Republic of the Congo]', 'Middle Africa', 'Sub-Saharan Africa', 'Africa', '178 < 017 < 202 < 002 < 001']
[' DR Congo', 'Middle Africa', 'Sub-Saharan Africa', 'Africa', '180 < 017 < 202 < 002 < 001']
[' Equatorial Guinea', 'Middle Africa', 'Sub-Saharan Africa', 'Africa', '226 < 017 < 202 < 002 < 001']
[' Gabon', 'Middle Africa', 'Sub-Saharan Africa', 'Africa', '266 < 017 < 202 < 002 < 001']
[' São Tomé and Príncipe', 'Middle Africa', 'Sub-Saharan Africa', 'Africa', '678 < 017 < 202 < 002 < 001']
[' Botswana', 'Southern Africa', 'Sub-Saharan Africa', 'Africa', '072 < 018 < 202 < 002 < 001']
[' Eswatini [Swaziland]', 'Southern Africa', 'Sub-Saharan Africa', 'Africa', '748 < 018 < 202 < 002 < 001']
[' Lesotho', 'Southern Africa', 'Sub-Saharan Africa', 'Africa', '426 < 018 < 202 < 002 < 001']
[' Namibia', 'Southern Africa', 'Sub-Saharan Africa', 'Africa', '516 < 018 < 202 < 002 < 001']
[' South Africa', 'Southern Africa', 'Sub-Saharan Africa', 'Africa', '710 < 018 < 202 < 002 < 001']
[' Benin', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '204 < 011 < 202 < 002 < 001']
[' Burkina Faso', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '854 < 011 < 202 < 002 < 001']
[' Cabo Verde [Cape Verde]', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '132 < 011 < 202 < 002 < 001']
[" Côte d'Ivoire [Ivory Coast]", 'Western Africa', 'Sub-Saharan Africa', 'Africa', '384 < 011 < 202 < 002 < 001']
[' Gambia', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '270 < 011 < 202 < 002 < 001']
[' Ghana', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '288 < 011 < 202 < 002 < 001']
[' Guinea', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '324 < 011 < 202 < 002 < 001']
[' Guinea-Bissau', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '624 < 011 < 202 < 002 < 001']
[' Liberia', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '430 < 011 < 202 < 002 < 001']
[' Mali', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '466 < 011 < 202 < 002 < 001']
[' Mauritania', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '478 < 011 < 202 < 002 < 001']
[' Niger', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '562 < 011 < 202 < 002 < 001']
[' Nigeria', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '566 < 011 < 202 < 002 < 001']
[' Saint Helena [Saint Helena Ascension and Tristan da Cunha]', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '654 < 011 < 202 < 002 < 001']
[' Senegal', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '686 < 011 < 202 < 002 < 001']
[' Sierra Leone', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '694 < 011 < 202 < 002 < 001']
[' Togo', 'Western Africa', 'Sub-Saharan Africa', 'Africa', '768 < 011 < 202 < 002 < 001']
[' Anguilla', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '660 < 029 < 419 / 003 < 019 < 001']
[' Antigua and Barbuda', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '028 < 029 < 419 / 003 < 019 < 001']
[' Aruba', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '533 < 029 < 419 / 003 < 019 < 001']
[' Bahamas', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '044 < 029 < 419 / 003 < 019 < 001']
[' Barbados', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '052 < 029 < 419 / 003 < 019 < 001']
[' Caribbean Netherlands', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '535 < 029 < 419 / 003 < 019 < 001']
[' British Virgin Islands', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '092 < 029 < 419 / 003 < 019 < 001']
[' Cayman Islands', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '136 < 029 < 419 / 003 < 019 < 001']
[' Cuba', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '192 < 029 < 419 / 003 < 019 < 001']
[' Curaçao', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '531 < 029 < 419 / 003 < 019 < 001']
[' Dominica', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '212 < 029 < 419 / 003 < 019 < 001']
[' Dominican Republic', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '214 < 029 < 419 / 003 < 019 < 001']
[' Grenada', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '308 < 029 < 419 / 003 < 019 < 001']
[' Guadeloupe', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '312 < 029 < 419 / 003 < 019 < 001']
[' Haiti', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '332 < 029 < 419 / 003 < 019 < 001']
[' Jamaica', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '388 < 029 < 419 / 003 < 019 < 001']
[' Martinique', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '474 < 029 < 419 / 003 < 019 < 001']
[' Montserrat', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '500 < 029 < 419 / 003 < 019 < 001']
[' Puerto Rico', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '630 < 029 < 419 / 003 < 019 < 001']
[' Saint Barthélemy', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '652 < 029 < 419 / 003 < 019 < 001']
[' Saint Kitts and Nevis', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '659 < 029 < 419 / 003 < 019 < 001']
[' Saint Lucia', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '662 < 029 < 419 / 003 < 019 < 001']
[' Saint Martin', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '663 < 029 < 419 / 003 < 019 < 001']
[' Saint Vincent and the Grenadines', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '670 < 029 < 419 / 003 < 019 < 001']
[' Sint Maarten', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '534 < 029 < 419 / 003 < 019 < 001']
[' Trinidad and Tobago', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '780 < 029 < 419 / 003 < 019 < 001']
[' Turks and Caicos Islands', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '796 < 029 < 419 / 003 < 019 < 001']
[' U.S. Virgin Islands', 'Caribbean', 'Latin America and the Caribbean / North America', 'Americas', '850 < 029 < 419 / 003 < 019 < 001']
[' Belize', 'Central America', 'Latin America and the Caribbean / North America', 'Americas', '084 < 013 < 419 / 003 < 019 < 001']
[' Costa Rica', 'Central America', 'Latin America and the Caribbean / North America', 'Americas', '188 < 013 < 419 / 003 < 019 < 001']
[' El Salvador', 'Central America', 'Latin America and the Caribbean / North America', 'Americas', '222 < 013 < 419 / 003 < 019 < 001']
[' Guatemala', 'Central America', 'Latin America and the Caribbean / North America', 'Americas', '320 < 013 < 419 / 003 < 019 < 001']
[' Honduras', 'Central America', 'Latin America and the Caribbean / North America', 'Americas', '340 < 013 < 419 / 003 < 019 < 001']
[' Mexico', 'Central America', 'Latin America and the Caribbean / North America', 'Americas', '484 < 013 < 419 / 003 < 019 < 001']
[' Nicaragua', 'Central America', 'Latin America and the Caribbean / North America', 'Americas', '558 < 013 < 419 / 003 < 019 < 001']
[' Panama', 'Central America', 'Latin America and the Caribbean / North America', 'Americas', '591 < 013 < 419 / 003 < 019 < 001']
[' Argentina', 'South America', 'Latin America and the Caribbean', 'Americas', '032 < 005 < 419 < 019 < 001']
[' Bolivia', 'South America', 'Latin America and the Caribbean', 'Americas', '068 < 005 < 419 < 019 < 001']
[' Bouvet Island', 'South America', 'Latin America and the Caribbean', 'Americas', '074 < 005 < 419 < 019 < 001']
[' Brazil', 'South America', 'Latin America and the Caribbean', 'Americas', '076 < 005 < 419 < 019 < 001']
[' Chile', 'South America', 'Latin America and the Caribbean', 'Americas', '152 < 005 < 419 < 019 < 001']
[' Colombia', 'South America', 'Latin America and the Caribbean', 'Americas', '170 < 005 < 419 < 019 < 001']
[' Ecuador', 'South America', 'Latin America and the Caribbean', 'Americas', '218 < 005 < 419 < 019 < 001']
[' Falkland Islands', 'South America', 'Latin America and the Caribbean', 'Americas', '238 < 005 < 419 < 019 < 001']
[' French Guiana', 'South America', 'Latin America and the Caribbean', 'Americas', '254 < 005 < 419 < 019 < 001']
[' Guyana', 'South America', 'Latin America and the Caribbean', 'Americas', '328 < 005 < 419 < 019 < 001']
[' Paraguay', 'South America', 'Latin America and the Caribbean', 'Americas', '600 < 005 < 419 < 019 < 001']
[' Peru', 'South America', 'Latin America and the Caribbean', 'Americas', '604 < 005 < 419 < 019 < 001']
[' South Georgia and the South Sandwich Islands', 'South America', 'Latin America and the Caribbean', 'Americas', '239 < 005 < 419 < 019 < 001']
[' Suriname', 'South America', 'Latin America and the Caribbean', 'Americas', '740 < 005 < 419 < 019 < 001']
[' Uruguay', 'South America', 'Latin America and the Caribbean', 'Americas', '858 < 005 < 419 < 019 < 001']
[' Venezuela', 'South America', 'Latin America and the Caribbean', 'Americas', '862 < 005 < 419 < 019 < 001']
[' Bermuda', 'Northern America', 'North America', 'Americas', '060 < 021 < 003 < 019 < 001']
[' Canada', 'Northern America', 'North America', 'Americas', '124 < 021 < 003 < 019 < 001']
[' Greenland', 'Northern America', 'North America', 'Americas', '304 < 021 < 003 < 019 < 001']
[' Saint Pierre and Miquelon', 'Northern America', 'North America', 'Americas', '666 < 021 < 003 < 019 < 001']
[' United States', 'Northern America', 'North America', 'Americas', '840 < 021 < 003 < 019 < 001']
[' Antarctica', '', '', 'Antarctica', '010 < 001']
[' Kazakhstan', '', 'Central Asia', 'Asia', '398 < 143 < 142 < 001']
[' Kyrgyzstan', '', 'Central Asia', 'Asia', '417 < 143 < 142 < 001']
[' Tajikistan', '', 'Central Asia', 'Asia', '762 < 143 < 142 < 001']
[' Turkmenistan', '', 'Central Asia', 'Asia', '795 < 143 < 142 < 001']
[' Uzbekistan', '', 'Central Asia', 'Asia', '860 < 143 < 142 < 001']
[' China', '', 'Eastern Asia', 'Asia', '156 < 030 < 142 < 001']
[' China Hong Kong Special Administrative Region', '', 'Eastern Asia', 'Asia', '344 < 030 < 142 < 001']
[' China Macao Special Administrative Region', '', 'Eastern Asia', 'Asia', '446 < 030 < 142 < 001']
[" Democratic People's Republic of Korea [North Korea]", '', 'Eastern Asia', 'Asia', '408 < 030 < 142 < 001']
[' Japan', '', 'Eastern Asia', 'Asia', '392 < 030 < 142 < 001']
[' Mongolia', '', 'Eastern Asia', 'Asia', '496 < 030 < 142 < 001']
[' Republic of Korea [South Korea]', '', 'Eastern Asia', 'Asia', '410 < 030 < 142 < 001']
[' Brunei', '', 'South-eastern Asia', 'Asia', '096 < 035 < 142 < 001']
[' Cambodia', '', 'South-eastern Asia', 'Asia', '116 < 035 < 142 < 001']
[' Indonesia', '', 'South-eastern Asia', 'Asia', '360 < 035 < 142 < 001']
[' Laos', '', 'South-eastern Asia', 'Asia', '418 < 035 < 142 < 001']
[' Malaysia', '', 'South-eastern Asia', 'Asia', '458 < 035 < 142 < 001']
[' Myanmar [Burma]', '', 'South-eastern Asia', 'Asia', '104 < 035 < 142 < 001']
[' Philippines', '', 'South-eastern Asia', 'Asia', '608 < 035 < 142 < 001']
[' Singapore', '', 'South-eastern Asia', 'Asia', '702 < 035 < 142 < 001']
[' Thailand', '', 'South-eastern Asia', 'Asia', '764 < 035 < 142 < 001']
[' Timor-Leste [East Timor]', '', 'South-eastern Asia', 'Asia', '626 < 035 < 142 < 001']
[' Vietnam', '', 'South-eastern Asia', 'Asia', '704 < 035 < 142 < 001']
[' Afghanistan', '', 'Southern Asia', 'Asia', '004 < 034 < 142 < 001']
[' Bangladesh', '', 'Southern Asia', 'Asia', '050 < 034 < 142 < 001']
[' Bhutan', '', 'Southern Asia', 'Asia', '064 < 034 < 142 < 001']
[' India', '', 'Southern Asia', 'Asia', '356 < 034 < 142 < 001']
[' Iran', '', 'Southern Asia', 'Asia', '364 < 034 < 142 < 001']
[' Maldives', '', 'Southern Asia', 'Asia', '462 < 034 < 142 < 001']
[' Nepal', '', 'Southern Asia', 'Asia', '524 < 034 < 142 < 001']
[' Pakistan', '', 'Southern Asia', 'Asia', '586 < 034 < 142 < 001']
[' Sri Lanka', '', 'Southern Asia', 'Asia', '144 < 034 < 142 < 001']
[' Armenia', '', 'Western Asia', 'Asia', '051 < 145 < 142 < 001']
[' Azerbaijan', '', 'Western Asia', 'Asia', '031 < 145 < 142 < 001']
[' Bahrain', '', 'Western Asia', 'Asia', '048 < 145 < 142 < 001']
[' Cyprus', '', 'Western Asia', 'Asia', '196 < 145 < 142 < 001']
[' Georgia', '', 'Western Asia', 'Asia', '268 < 145 < 142 < 001']
[' Iraq', '', 'Western Asia', 'Asia', '368 < 145 < 142 < 001']
[' Israel', '', 'Western Asia', 'Asia', '376 < 145 < 142 < 001']
[' Jordan', '', 'Western Asia', 'Asia', '400 < 145 < 142 < 001']
[' Kuwait', '', 'Western Asia', 'Asia', '414 < 145 < 142 < 001']
[' Lebanon', '', 'Western Asia', 'Asia', '422 < 145 < 142 < 001']
[' Oman', '', 'Western Asia', 'Asia', '512 < 145 < 142 < 001']
[' Qatar', '', 'Western Asia', 'Asia', '634 < 145 < 142 < 001']
[' Saudi Arabia', '', 'Western Asia', 'Asia', '682 < 145 < 142 < 001']
[' Palestine', '', 'Western Asia', 'Asia', '275 < 145 < 142 < 001']
[' Syria', '', 'Western Asia', 'Asia', '760 < 145 < 142 < 001']
[' Turkey', '', 'Western Asia', 'Asia', '792 < 145 < 142 < 001']
[' United Arab Emirates', '', 'Western Asia', 'Asia', '784 < 145 < 142 < 001']
[' Yemen', '', 'Western Asia', 'Asia', '887 < 145 < 142 < 001']
[' Belarus', '', 'Eastern Europe', 'Europe', '112 < 151 < 150 < 001']
[' Bulgaria', '', 'Eastern Europe', 'Europe', '100 < 151 < 150 < 001']
[' Czechia [Czech Republic]', '', 'Eastern Europe', 'Europe', '203 < 151 < 150 < 001']
[' Hungary', '', 'Eastern Europe', 'Europe', '348 < 151 < 150 < 001']
[' Poland', '', 'Eastern Europe', 'Europe', '616 < 151 < 150 < 001']
[' Moldova', '', 'Eastern Europe', 'Europe', '498 < 151 < 150 < 001']
[' Romania', '', 'Eastern Europe', 'Europe', '642 < 151 < 150 < 001']
[' Russia', '', 'Eastern Europe', 'Europe', '643 < 151 < 150 < 001']
[' Slovakia', '', 'Eastern Europe', 'Europe', '703 < 151 < 150 < 001']
[' Ukraine', '', 'Eastern Europe', 'Europe', '804 < 151 < 150 < 001']
[' Åland Islands', '', 'Northern Europe', 'Europe', '248 < 154 < 150 < 001']
[' Guernsey', 'Channel Islands', 'Northern Europe', 'Europe', '831 < 830 < 154 < 150 < 001']
[' Jersey', 'Channel Islands', 'Northern Europe', 'Europe', '832 < 830 < 154 < 150 < 001']
[' Sark', 'Channel Islands', 'Northern Europe', 'Europe', '680 < 830 < 154 < 150 < 001']
[' Denmark', '', 'Northern Europe', 'Europe', '208 < 154 < 150 < 001']
[' Estonia', '', 'Northern Europe', 'Europe', '233 < 154 < 150 < 001']
[' Faroe Islands', '', 'Northern Europe', 'Europe', '234 < 154 < 150 < 001']
[' Finland', '', 'Northern Europe', 'Europe', '246 < 154 < 150 < 001']
[' Iceland', '', 'Northern Europe', 'Europe', '352 < 154 < 150 < 001']
[' Ireland', '', 'Northern Europe', 'Europe', '372 < 154 < 150 < 001']
[' Isle of Man', '', 'Northern Europe', 'Europe', '833 < 154 < 150 < 001']
[' Latvia', '', 'Northern Europe', 'Europe', '428 < 154 < 150 < 001']
[' Lithuania', '', 'Northern Europe', 'Europe', '440 < 154 < 150 < 001']
[' Norway', '', 'Northern Europe', 'Europe', '578 < 154 < 150 < 001']
[' Svalbard and Jan Mayen Islands', '', 'Northern Europe', 'Europe', '744 < 154 < 150 < 001']
[' Sweden', '', 'Northern Europe', 'Europe', '752 < 154 < 150 < 001']
[' United Kingdom', '', 'Northern Europe', 'Europe', '826 < 154 < 150 < 001']
[' Albania', '', 'Southern Europe', 'Europe', '008 < 039 < 150 < 001']
[' Andorra', '', 'Southern Europe', 'Europe', '020 < 039 < 150 < 001']
[' Bosnia and Herzegovina', '', 'Southern Europe', 'Europe', '070 < 039 < 150 < 001']
[' Croatia', '', 'Southern Europe', 'Europe', '191 < 039 < 150 < 001']
[' Gibraltar', '', 'Southern Europe', 'Europe', '292 < 039 < 150 < 001']
[' Greece', '', 'Southern Europe', 'Europe', '300 < 039 < 150 < 001']
[' Holy See [Vatican City]', '', 'Southern Europe', 'Europe', '336 < 039 < 150 < 001']
[' Italy', '', 'Southern Europe', 'Europe', '380 < 039 < 150 < 001']
[' Malta', '', 'Southern Europe', 'Europe', '470 < 039 < 150 < 001']
[' Montenegro', '', 'Southern Europe', 'Europe', '499 < 039 < 150 < 001']
[' North Macedonia', '', 'Southern Europe', 'Europe', '807 < 039 < 150 < 001']
[' Portugal', '', 'Southern Europe', 'Europe', '620 < 039 < 150 < 001']
[' San Marino', '', 'Southern Europe', 'Europe', '674 < 039 < 150 < 001']
[' Serbia', '', 'Southern Europe', 'Europe', '688 < 039 < 150 < 001']
[' Slovenia', '', 'Southern Europe', 'Europe', '705 < 039 < 150 < 001']
[' Spain', '', 'Southern Europe', 'Europe', '724 < 039 < 150 < 001']
[' Austria', '', 'Western Europe', 'Europe', '040 < 155 < 150 < 001']
[' Belgium', '', 'Western Europe', 'Europe', '056 < 155 < 150 < 001']
[' France [French Republic]', '', 'Western Europe', 'Europe', '250 < 155 < 150 < 001']
[' Germany', '', 'Western Europe', 'Europe', '276 < 155 < 150 < 001']
[' Liechtenstein', '', 'Western Europe', 'Europe', '438 < 155 < 150 < 001']

In [221]:
df1 = pd.DataFrame(all_rows)

In [222]:
df1

                      0 1                 2        3                      4
0               Algeria     Northern Africa   Africa  012 < 015 < 002 < 001
1                 Egypt     Northern Africa   Africa  818 < 015 < 002 < 001
2                 Libya     Northern Africa   Africa  434 < 015 < 002 < 001
3               Morocco     Northern Africa   Africa  504 < 015 < 002 < 001
4                 Sudan     Northern Africa   Africa  729 < 015 < 002 < 001
..                  ... ..              ...      ...                    ...
244               Samoa           Polynesia  Oceania  882 < 061 < 009 < 001
245             Tokelau           Polynesia  Oceania  772 < 061 < 009 < 001
246               Tonga           Polynesia  Oceania  776 < 061 < 009 < 001
247              Tuvalu           Polynesia  Oceania  798 < 061 < 009 < 001
248   Wallis and Futuna           Polynesia  Oceania  876 < 061 < 009 < 001

[249 rows x 5 columns]

In [223]:
headings

['Country or Area', 'Sub-Subregion', 'Subregion', 'Region', 'UNSD M49 Codes']

In [224]:
df1.rename(columns = {0:'Country',1:'Sub-Subregion',2:'Subregion',3:'Region',4:'UNSD M49 Codes'}, inplace = True)

In [225]:
data_frame.columns

Index(['Country', 'HDI Change (5 yrs)', 'HDI (2020 Report)',
       'Avg. annual growth (%)'],
      dtype='object')

In [289]:
df1['Country'].apply(lambda x: x.strip())

0                Algeria
1                  Egypt
2                  Libya
3                Morocco
4                  Sudan
             ...
244                Samoa
245              Tokelau
246                Tonga
247               Tuvalu
248    Wallis and Futuna
Name: Country, Length: 249, dtype: object

In [290]:
country_subregion = dict(zip(df1['Country'], df1['Subregion']))

In [291]:
country_subregion

{'Algeria': 'Northern Africa',
 'Egypt': 'Northern Africa',
 'Libya': 'Northern Africa',
 'Morocco': 'Northern Africa',
 'Sudan': 'Northern Africa',
 'Tunisia': 'Northern Africa',
 'Western Sahara': 'Northern Africa',
 'British Indian Ocean Territory': 'Sub-Saharan Africa',
 'Burundi': 'Sub-Saharan Africa',
 'Comoros': 'Sub-Saharan Africa',
 'Djibouti': 'Sub-Saharan Africa',
 'Eritrea': 'Sub-Saharan Africa',
 'Ethiopia': 'Sub-Saharan Africa',
 'French Southern and Antarctic Lands': 'Sub-Saharan Africa',
 'Kenya': 'Sub-Saharan Africa',
 'Madagascar': 'Sub-Saharan Africa',
 'Malawi': 'Sub-Saharan Africa',
 'Mauritius': 'Sub-Saharan Africa',
 'Mayotte': 'Sub-Saharan Africa',
 'Mozambique': 'Sub-Saharan Africa',
 'Réunion': 'Sub-Saharan Africa',
 'Rwanda': 'Sub-Saharan Africa',
 'Seychelles': 'Sub-Saharan Africa',
 'Somalia': 'Sub-Saharan Africa',
 'South Sudan': 'Sub-Saharan Africa',
 'Uganda': 'Sub-Saharan Africa',
 'Tanzania': 'Sub-Saharan Africa',
 'Zambia': 'Sub-Saharan Africa',
 'Zimbabwe': 'Sub-Saharan Africa',
 'Angola': 'Sub-Saharan Africa',
 'Cameroon': 'Sub-Saharan Africa',
 'Central African Republic': 'Sub-Saharan Africa',
 'Chad': 'Sub-Saharan Africa',
 'Congo [Republic of the Congo]': 'Sub-Saharan Africa',
 'DR Congo': 'Sub-Saharan Africa',
 'Equatorial Guinea': 'Sub-Saharan Africa',
 'Gabon': 'Sub-Saharan Africa',
 'São Tomé and Príncipe': 'Sub-Saharan Africa',
 'Botswana': 'Sub-Saharan Africa',
 'Eswatini [Swaziland]': 'Sub-Saharan Africa',
 'Lesotho': 'Sub-Saharan Africa',
 'Namibia': 'Sub-Saharan Africa',
 'South Africa': 'Sub-Saharan Africa',
 'Benin': 'Sub-Saharan Africa',
 'Burkina Faso': 'Sub-Saharan Africa',
 'Cabo Verde [Cape Verde]': 'Sub-Saharan Africa',
 "Côte d'Ivoire [Ivory Coast]": 'Sub-Saharan Africa',
 'Gambia': 'Sub-Saharan Africa',
 'Ghana': 'Sub-Saharan Africa',
 'Guinea': 'Sub-Saharan Africa',
 'Guinea-Bissau': 'Sub-Saharan Africa',
 'Liberia': 'Sub-Saharan Africa',
 'Mali': 'Sub-Saharan Africa',
 'Mauritania': 'Sub-Saharan Africa',
 'Niger': 'Sub-Saharan Africa',
 'Nigeria': 'Sub-Saharan Africa',
 'Saint Helena [Saint Helena Ascension and Tristan da Cunha]': 'Sub-Saharan Africa',
 'Senegal': 'Sub-Saharan Africa',
 'Sierra Leone': 'Sub-Saharan Africa',
 'Togo': 'Sub-Saharan Africa',
 'Anguilla': 'Latin America and the Caribbean / North America',
 'Antigua and Barbuda': 'Latin America and the Caribbean / North America',
 'Aruba': 'Latin America and the Caribbean / North America',
 'Bahamas': 'Latin America and the Caribbean / North America',
 'Barbados': 'Latin America and the Caribbean / North America',
 'Caribbean Netherlands': 'Latin America and the Caribbean / North America',
 'British Virgin Islands': 'Latin America and the Caribbean / North America',
 'Cayman Islands': 'Latin America and the Caribbean / North America',
 'Cuba': 'Latin America and the Caribbean / North America',
 'Curaçao': 'Latin America and the Caribbean / North America',
 'Dominica': 'Latin America and the Caribbean / North America',
 'Dominican Republic': 'Latin America and the Caribbean / North America',
 'Grenada': 'Latin America and the Caribbean / North America',
 'Guadeloupe': 'Latin America and the Caribbean / North America',
 'Haiti': 'Latin America and the Caribbean / North America',
 'Jamaica': 'Latin America and the Caribbean / North America',
 'Martinique': 'Latin America and the Caribbean / North America',
 'Montserrat': 'Latin America and the Caribbean / North America',
 'Puerto Rico': 'Latin America and the Caribbean / North America',
 'Saint Barthélemy': 'Latin America and the Caribbean / North America',
 'Saint Kitts and Nevis': 'Latin America and the Caribbean / North America',
 'Saint Lucia': 'Latin America and the Caribbean / North America',
 'Saint Martin': 'Latin America and the Caribbean / North America',
 'Saint Vincent and the Grenadines': 'Latin America and the Caribbean / North America',
 'Sint Maarten': 'Latin America and the Caribbean / North America',
 'Trinidad and Tobago': 'Latin America and the Caribbean / North America',
 'Turks and Caicos Islands': 'Latin America and the Caribbean / North America',
 'U.S. Virgin Islands': 'Latin America and the Caribbean / North America',
 'Belize': 'Latin America and the Caribbean / North America',
 'Costa Rica': 'Latin America and the Caribbean / North America',
 'El Salvador': 'Latin America and the Caribbean / North America',
 'Guatemala': 'Latin America and the Caribbean / North America',
 'Honduras': 'Latin America and the Caribbean / North America',
 'Mexico': 'Latin America and the Caribbean / North America',
 'Nicaragua': 'Latin America and the Caribbean / North America',
 'Panama': 'Latin America and the Caribbean / North America',
 'Argentina': 'Latin America and the Caribbean',
 'Bolivia': 'Latin America and the Caribbean',
 'Bouvet Island': 'Latin America and the Caribbean',
 'Brazil': 'Latin America and the Caribbean',
 'Chile': 'Latin America and the Caribbean',
 'Colombia': 'Latin America and the Caribbean',
 'Ecuador': 'Latin America and the Caribbean',
 'Falkland Islands': 'Latin America and the Caribbean',
 'French Guiana': 'Latin America and the Caribbean',
 'Guyana': 'Latin America and the Caribbean',
 'Paraguay': 'Latin America and the Caribbean',
 'Peru': 'Latin America and the Caribbean',
 'South Georgia and the South Sandwich Islands': 'Latin America and the Caribbean',
 'Suriname': 'Latin America and the Caribbean',
 'Uruguay': 'Latin America and the Caribbean',
 'Venezuela': 'Latin America and the Caribbean',
 'Bermuda': 'North America',
 'Canada': 'North America',
 'Greenland': 'North America',
 'Saint Pierre and Miquelon': 'North America',
 'United States': 'North America',
 'Antarctica': '',
 'Kazakhstan': 'Central Asia',
 'Kyrgyzstan': 'Central Asia',
 'Tajikistan': 'Central Asia',
 'Turkmenistan': 'Central Asia',
 'Uzbekistan': 'Central Asia',
 'China': 'Eastern Asia',
 'China Hong Kong Special Administrative Region': 'Eastern Asia',
 'China Macao Special Administrative Region': 'Eastern Asia',
 "Democratic People's Republic of Korea [North Korea]": 'Eastern Asia',
 'Japan': 'Eastern Asia',
 'Mongolia': 'Eastern Asia',
 'Republic of Korea [South Korea]': 'Eastern Asia',
 'Brunei': 'South-eastern Asia',
 'Cambodia': 'South-eastern Asia',
 'Indonesia': 'South-eastern Asia',
 'Laos': 'South-eastern Asia',
 'Malaysia': 'South-eastern Asia',
 'Myanmar [Burma]': 'South-eastern Asia',
 'Philippines': 'South-eastern Asia',
 'Singapore': 'South-eastern Asia',
 'Thailand': 'South-eastern Asia',
 'Timor-Leste [East Timor]': 'South-eastern Asia',
 'Vietnam': 'South-eastern Asia',
 'Afghanistan': 'Southern Asia',
 'Bangladesh': 'Southern Asia',
 'Bhutan': 'Southern Asia',
 'India': 'Southern Asia',
 'Iran': 'Southern Asia',
 'Maldives': 'Southern Asia',
 'Nepal': 'Southern Asia',
 'Pakistan': 'Southern Asia',
 'Sri Lanka': 'Southern Asia',
 'Armenia': 'Western Asia',
 'Azerbaijan': 'Western Asia',
 'Bahrain': 'Western Asia',
 'Cyprus': 'Western Asia',
 'Georgia': 'Western Asia',
 'Iraq': 'Western Asia',
 'Israel': 'Western Asia',
 'Jordan': 'Western Asia',
 'Kuwait': 'Western Asia',
 'Lebanon': 'Western Asia',
 'Oman': 'Western Asia',
 'Qatar': 'Western Asia',
 'Saudi Arabia': 'Western Asia',
 'Palestine': 'Western Asia',
 'Syria': 'Western Asia',
 'Turkey': 'Western Asia',
 'United Arab Emirates': 'Western Asia',
 'Yemen': 'Western Asia',
 'Belarus': 'Eastern Europe',
 'Bulgaria': 'Eastern Europe',
 'Czechia [Czech Republic]': 'Eastern Europe',
 'Hungary': 'Eastern Europe',
 'Poland': 'Eastern Europe',
 'Moldova': 'Eastern Europe',
 'Romania': 'Eastern Europe',
 'Russia': 'Eastern Europe',
 'Slovakia': 'Eastern Europe',
 'Ukraine': 'Eastern Europe',
 'Åland Islands': 'Northern Europe',
 'Guernsey': 'Northern Europe',
 'Jersey': 'Northern Europe',
 'Sark': 'Northern Europe',
 'Denmark': 'Northern Europe',
 'Estonia': 'Northern Europe',
 'Faroe Islands': 'Northern Europe',
 'Finland': 'Northern Europe',
 'Iceland': 'Northern Europe',
 'Ireland': 'Northern Europe',
 'Isle of Man': 'Northern Europe',
 'Latvia': 'Northern Europe',
 'Lithuania': 'Northern Europe',
 'Norway': 'Northern Europe',
 'Svalbard and Jan Mayen Islands': 'Northern Europe',
 'Sweden': 'Northern Europe',
 'United Kingdom': 'Northern Europe',
 'Albania': 'Southern Europe',
 'Andorra': 'Southern Europe',
 'Bosnia and Herzegovina': 'Southern Europe',
 'Croatia': 'Southern Europe',
 'Gibraltar': 'Southern Europe',
 'Greece': 'Southern Europe',
 'Holy See [Vatican City]': 'Southern Europe',
 'Italy': 'Southern Europe',
 'Malta': 'Southern Europe',
 'Montenegro': 'Southern Europe',
 'North Macedonia': 'Southern Europe',
 'Portugal': 'Southern Europe',
 'San Marino': 'Southern Europe',
 'Serbia': 'Southern Europe',
 'Slovenia': 'Southern Europe',
 'Spain': 'Southern Europe',
 'Austria': 'Western Europe',
 'Belgium': 'Western Europe',
 'France [French Republic]': 'Western Europe',
 'Germany': 'Western Europe',
 'Liechtenstein': 'Western Europe',
 'Luxembourg': 'Western Europe',
 'Monaco': 'Western Europe',
 'Netherlands': 'Western Europe',
 'Switzerland': 'Western Europe',
 'Australia': 'Australia and New Zealand',
 'Christmas Island': 'Australia and New Zealand',
 'Cocos (Keeling) Islands': 'Australia and New Zealand',
 'Heard Island and McDonald Islands': 'Australia and New Zealand',
 'New Zealand': 'Australia and New Zealand',
 'Norfolk Island': 'Australia and New Zealand',
 'Fiji': 'Melanesia',
 'New Caledonia': 'Melanesia',
 'Papua New Guinea': 'Melanesia',
 'Solomon Islands': 'Melanesia',
 'Vanuatu': 'Melanesia',
 'Guam': 'Micronesia',
 'Kiribati': 'Micronesia',
 'Marshall Islands': 'Micronesia',
 'Micronesia': 'Micronesia',
 'Nauru': 'Micronesia',
 'Northern Mariana Islands': 'Micronesia',
 'Palau': 'Micronesia',
 'United States Minor Outlying Islands': 'Micronesia',
 'American Samoa': 'Polynesia',
 'Cook Islands': 'Polynesia',
 'French Polynesia': 'Polynesia',
 'Niue': 'Polynesia',
 'Pitcairn [Pitcairn Islands]': 'Polynesia',
 'Samoa': 'Polynesia',
 'Tokelau': 'Polynesia',
 'Tonga': 'Polynesia',
 'Tuvalu': 'Polynesia',
 'Wallis and Futuna': 'Polynesia'}

In [292]:
data_frame['Sub-Region'] = data_frame['Country'].map(country_subregion)

In [293]:
data_frame['Sub-Region'].isnull().sum()

18

In [294]:
df1.dtypes

Country      object
Subregion    object
dtype: object

In [295]:
data_frame.dtypes

Country                    object
HDI Change (5 yrs)         object
HDI (2020 Report)         float64
Avg. annual growth (%)    float64
Sub-Region                 object
dtype: object

In [323]:
df = pd.merge(df1,data_frame, on = 'Country', how = 'right')

In [330]:
df[df['Subregion'].isna()]

,Country,Subregion,HDI Change (5 yrs),HDI (2020 Report),Avg. annual growth (%),Sub-Region
1,Republic of Ireland,NaN,7,0.955,0.65,NaN
3,Hong Kong,NaN,7,0.949,0.54,NaN
23,South Korea,NaN,1,0.916,0.33,NaN
25,France,NaN,1,0.901,0.28,NaN
26,Czech Republic,NaN,1,0.900,0.38,NaN
57,The Bahamas,NaN,3,0.814,0.12,NaN
60,Georgia (country),NaN,7,0.812,0.87,NaN
114,State of Palestine,NaN,6,0.708,0.38,NaN
125,Cape Verde,NaN,4,0.665,0.57,NaN
134,Sao Tome and Principe,NaN,1,0.625,1.21,NaN
135,Federated States of Micronesia,NaN,2,0.620,0.35,NaN
137,Eswatini,NaN,5,0.611,2.03,NaN
140,East Timor,NaN,1,0.606,-0.40,NaN
146,Myanmar,NaN,3,0.583,1.39,NaN
148,Republic of the Congo,NaN,2,0.574,1.10,NaN
161,Ivory Coast,NaN,7,0.538,1.56,NaN
171,The Gambia,NaN,1,0.496,0.87,NaN
174,Democratic Republic of the Congo,NaN,,0.480,1.10,NaN

In [ ]:
#create dictionary of NaNs and the use. map to add null values to dataframe
global_regions = {"Northern Africa" : ['Algeria', 'Egypt','Morocco', 'Algeria', 'Tunisia', 'Libya', 'Egypt', 'Sudan', 'Western Sahara'],
                  "Sub-Saharan Africa": [],
                  "Eastern Africa":[],
                  "Middle Africa": [],
                  "Southern Africa": [],
                  "Western Africa": [],
                  "Caribbean": [],
"Central America": [],
"South America": [],
"North America": [],
"Central Asia": [],
"Eastern Asia": [],
"South-eastern Asia": [],
"Southern Asia": [],
"Western Asia": [],
"Eastern Europe (Including Nortehrn Asia)": [],
"Northern Europe": [],
"Southern Europe": [],
"Western Europe": [],
"Australia & New Zealend": [],
"Melanesia": [],
"Micronesia": [],
"Polynesia": [],
                  
                  }

In [322]:
df['HDI (2020 Report)'].groupby(df.Subregion).mean().sort_values(ascending = False)

Subregion
Australia and New Zealand                          0.937500
Western Europe                                     0.933429
North America                                      0.927500
Northern Europe                                    0.922333
Southern Europe                                    0.851000
Eastern Europe                                     0.823778
Eastern Asia                                       0.805667
Western Asia                                       0.775313
Latin America and the Caribbean                    0.763167
South-eastern Asia                                 0.745556
Latin America and the Caribbean / North America    0.735900
Central Asia                                       0.725000
Micronesia                                         0.720000
Polynesia                                          0.720000
Northern Africa                                    0.685833
Southern Asia                                      0.656222
Melanesia                                          0.618500
Sub-Saharan Africa                                 0.548000
Name: HDI (2020 Report), dtype: float64

In [81]:
global_regions = {"Northern Africa" : ['Algeria', 'Egypt','Morocco', 'Algeria', 'Tunisia', 'Libya', 'Egypt', 'Sudan', 'Western Sahara'],
                  "Sub-Saharan Africa": [],
                  "Eastern Africa":[],
                  "Middle Africa": [],
                  "Southern Africa": [],
                  "Western Africa": [],
                  "Caribbean": [],
"Central America": [],
"South America": [],
"North America": [],
"Central Asia": [],
"Eastern Asia": [],
"South-eastern Asia": [],
"Southern Asia": [],
"Western Asia": [],
"Eastern Europe (Including Nortehrn Asia)": [],
"Northern Europe": [],
"Southern Europe": [],
"Western Europe": [],
"Australia & New Zealend": [],
"Melanesia": [],
"Micronesia": [],
"Polynesia": [],
                  
                  }

## United Nations geoscheme

Statistical regions as defined by the UNSD. Antarctica is not shown.
The United Nations geoscheme is a system which divides the 249 countries and territories of the world into 6 regional and 22 subregional groups. It was devised by the United Nations Statistics Division (UNSD) based on the M49 coding classification.

In [427]:
results_list = []

# Get all the <td class="title"... elements
all_td = soup.find_all('td', {'class':'title'})
for element in all_td:
    # start a dictionary to store this item's data
    result = {}
    
    # get the title and full link/url
    a_href = element.find('a')
    if a_href:
        result['title'] = a_href.text   # element text
        result['link'] = a_href['href'] # href link
        
    # get the url domain
    span = element.find('span', {'class':'comhead'})
    if span:
        result['url'] = span.text.strip()[1:-1]
        
    # only store "full" rows of data
    if len(result) == 3:
        results_list.append(result)
if len(results_list) > 1:        
    print(results_list[0])